{% extends 'base.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}
    <h1>Create new Genre</h1>
    <div align="center">
        {{ include('genre/_form.html.twig') }}
    </div>
{% endblock %}
